<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Your name" %><br />
    <%= f.text_field :rname %>
  </div>
  <div class="field">
    <%= f.label "Date of the game" %><br />
    <%= f.date_select :gdate %>
  </div>
  <div class="field">
    <%= f.label "Full name of your first guest" %><br />
    <%= f.text_field :tname1 %>
  </div>
  <div class="field">
    <%= f.label "Full name of your second guest" %><br />
    <%= f.text_field :tname2 %>
  </div>
  <div class="field">
    <%= f.label "Full name of your third guest" %><br />
    <%= f.text_field :tname3 %>
  </div>
  <div class="field">
    <%= f.label "Full name of your fourth guest" %><br />
    <%= f.text_field :tname4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
